<footer style="background-color: rgba(0, 0, 0, 0.963); padding: 20px; text-align: center;   
left: 0;
bottom: 0; width: 100%; ">
   
    <div style="font-size: 8px; color: #666;">
        <p style="margin: 2px 0; font-size: 13px;">© 2024 Company Name. All Rights Reserved.</p>
        <p style="margin: 2px 0; font-size: 10px;">Designed by  Abhay Khapake (+919527075161)</p>
    </div>
</footer>




</body>
</html>